#blockCourseWind {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    background: #00000034;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window_block {
    width: 1300px;
    height: 520px;
    background: #171717;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    position: relative;
}

.left_part_wind_course {
    width: 47%;
    height: 100%;
    /* border-right: 1px solid white; */
}

.name_course_modal {
    font-size: 35px;
    letter-spacing: 1px;
}

.description_modal {
    font-size: 16px;
    margin-top: 25px;
    font-weight: lighter;
    letter-spacing: 0.5px;
}

.to_course_content {
    display: block;
    width: fit-content;
    margin-top: 30px;
    font-size: 18px;
    color: #5B34CA;
}

.to_course_content span {
    margin-left: 8px;
}

.add_course {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 190px;
    height: 45px;
    background: #5B34CA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add_course:hover {
    background: #462d8f;
}

.right_part_wind_course {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_iamge_modal {
    width: 400px;
    height: 450px;
    border-radius: 15px;
}